
@font-face {
    font-family: "outfit";
    src: url(./Outfit/Outfit-Thin.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "outfit";
    src: url(./Outfit/Outfit-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "outfit";
    src: url(./Outfit/Outfit-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "outfit";
    src: url(./Outfit/Outfit-Black.ttf);
    font-weight: 900;
}