html {
    font-size: 100%;
    font-family: "outfit";
}


body {
    background-color: rgb(229 229 229 / 76%);
    display: flex;
    align-items:     center;
    justify-content: center;
}
.container {

    background-color: white;
    width: 27rem;
    height: 42rem;
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 2.06rem;
}

@media (max-width:425px) {

    .container {
        width: 20rem;
        margin:2.5rem auto;

        
    }
}
 
@media (min-width:540px) {

    .container {

        margin: 2.5rem auto;
    }
}

.image {
    padding: 1.8rem 1.5rem;
    border-radius: 50px;
}

.header {
    
    color: #343434;
    text-align: center;
    font-size: 1.8rem;
    padding: 0rem 1.875rem;
    padding-bottom: 20px;
    line-height: 2.4rem;
    word-spacing: 0.1rem;
}

.text {
    word-spacing: .1rem;
    text-align: center;
    font-size: 1.3rem;
    margin: 0 1.3rem  ;
    color:#929191;
    line-height: 1.2;
}

